.contacts {
  color: $color-sapphire;
  padding: 60px 120px;
  border-top: 1px solid $light-slate-grey;

  @include vp-374 {
    padding: 70px 15px;
  }

  h2 {
    font-family: $ff-alumniSans-semibold;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin: 0;
    margin-bottom: 40px;

    @include vp-767 {
      font-family: $ff-alumniSans-semibold ;
      font-size: 42px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.26px;
      margin-bottom: 36px;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;

    @include vp-767 {
      flex-wrap: nowrap;
    }
  }

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &:last-child {
      padding-left: 70px;
      margin-bottom: 0;
      border-left: 1px solid $light-slate-grey;

      @include vp-767 {
        padding-left: 60px;
      }
    }
  }

  li:not(:last-child) {
    margin: 0;
    margin-bottom: 15px;

    @include vp-767 {
      margin-bottom: 27px;
    }
  }

  h3 {
    font-family: $ff-regular;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
    margin-bottom: 5px;

    @include vp-767 {
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 11px;
    }
  }

  address,
  p,
  a {
    font-family: $ff-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-style: normal;
    margin: 0;
  }

  a {
    display: block;
    color: $color-sapphire;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
