.faq {
  background-color: $ghost-white;
  color: $color-sapphire;

  h2 {
    font-family: $ff-alumniSans-semibold;
    font-size: 54px;
    font-weight: 600;
    line-height: 54px;
    letter-spacing: 1.62px;
    margin: 0 auto;
    margin-bottom: 51px;

    @include vp-767 {
      font-size: 42px;
      line-height: 42px;
      letter-spacing: 1.26px;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}

.faq__wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;

  @include vp-767 {
    grid-template-columns: auto;
  }
}

.faq__tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include vp-767 {
    flex-direction: row;
    justify-content: space-between;
  }

  @include vp-374 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    justify-content: stretch;
  }
}

.faq__tab-button {
  font-family: $ff-regular;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;

  @include vp-374 {
    font-size: 16px;
    line-height: 16px;
  }
}

.faq__tab-button.is-active {
  background: $button-gradient;
  color: $color-default-white;
  border: none;
}

.faq__pane {
  width: 100%;
}

.faq__accordion-button {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }
  span {
    margin-left: 60px;
  }

  @include vp-374 {
    font-size: 20px;
    line-height: 20px;
  }
  span {
    margin-left: 80px;
  }
}

.faq__accordion-element {
  padding: 25px 0;
  border-bottom: 1px solid rgba(16,	38,	84, 0.2);

  & p {
    color: $color-sapphire;
    font-family: $ff-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding-right: 200px;

    @include vp-374 {
     padding: 0;
    }
  }

  &:first-child {
    border-top: 1px solid rgba(16,	38,	84, 0.2);
  }

}

.faq__accordion-element.is-active span {
  background-color: $resolution-blue;
}

