.games__wrapper {
  display: flex;
  width: 100%;

  @include vp-767 {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

.games__text {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  color: $color-default-white;
  background-color: $color-torch-red;
  padding: 80px;

  @include vp-1365 {
    max-width: 292px;
    padding: 45px;
    padding-top: 40px;
  }

  @include vp-767 {
    max-width: none;
    width: 100%;
  }
}

.games__top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 23px;

  h2 {
    font-family: $ff-alumniSans-semibold;
    font-size: 82px;
    line-height: 76px;
    letter-spacing: 2.46px;
    font-weight: 600;
    width: min-content;
    margin: 0;
    text-transform: uppercase;

    @include vp-1365 {
      font-size: 48px;
      line-height: 46px;
      letter-spacing: 1.44px;
    }
  }
}

.games__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;

  h3 {
    display: block;
    font-family: $ff-regular;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-align: left;
  }

  span {
    font-family: $ff-regular;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }

  p {
    font-family: $ff-regular;
    font-size: 10px;
    line-height: 15px;
    margin: 0;
  }
}

.games__date {

  h3 {
    font-family: $ff-light;
    margin: 0 0 3px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 8px;

    @include vp-1365 {
      padding-bottom: 0;
    }
  }
  p {
    font-family: $ff-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;

    @include vp-1365 {
      padding-top: 4px;
      font-size: 10px;
    }
  }
  span {
    font-family: $ff-bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    margin-right: 6px;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
      margin-right: 3px;
    }
  }

  div {
    display: flex;
    align-items: center;
    width: min-content;
    border-top: 1px solid $color-default-white;
  }
}

.games__time {

  h3 {
    font-family: $ff-light;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 0;
    padding-bottom: 8px;
  }

  span {
    border-top: 1px solid $color-default-white;
    font-family: $ff-bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;

    @include vp-1365 {
      font-size: 24px;
      line-height: 24px;
    }
  }
}

.games__bottom {
  p {
    display: block;
    font-family: $ff-light;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    margin-bottom: 55px;
  }

  a {
    display: block;
    font-family: $ff-bold;
    color:$color-default-white;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: $color-default-white;
    text-align: center;
    padding: 27px 0;
    border: 2px solid $color-default-white;
    width: 100%;

    &:hover,
    &:focus {
      color: $color-egyptian-blue;
      background-color:$color-default-white;
    }

    &:active {
      color: $color-sapphire;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.games__image {
  overflow: hidden;
  width: 100%;

  @include vp-767 {
    height: 292px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
