.header {
  background: conic-gradient(from 165deg at 35% 40%, rgba(184, 0, 39, 1) 10%, rgba(0, 61, 133, 1) 34%, rgba(184, 0, 39, 1));
  color:$color-default-white;
  padding-bottom: 120px;
}

.header__links {
  padding: 30px 0;
}

.header__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: block;
    font-family: $ff-bold;
    font-size: 26px;
    font-weight: 700;
    line-height: 26px;
    color:$color-default-white;

    &:hover {
      color: $color-egyptian-blue;
    }

    &:active {
      color: $color-egyptian-blue;
      opacity: 0.6;
    }
  }

  img {
    min-width: 120px;
    min-height: auto;
  }
}

.header__main-screen {
  display: flex;
  gap: 70px;
  align-items: center;
}

.header__main-image {
  margin-right: auto;
}

.header__main-info {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 385px;

  p {
    font-family: $ff-alumniSans-semibold;
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.62px;
    margin: 0;
    grid-column: 2/-1;
    text-align: right;
  }

  h1 {
    font-family: $ff-alumniSans-extrabold;
    text-transform: uppercase;
    font-size: 92px;
    font-weight: 800;
    line-height: 110px;
    letter-spacing: 4.6px;
    text-align: right;
    margin: 0;
    max-width: 270px;
    grid-column: 2/-1;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  ul {
    font-family: $ff-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
    grid-column: 1/2;
    grid-row: 1/4;
    align-self: center;
  }

  a {
    font-family: $ff-bold;
    color:$color-default-white;
    border: 2px solid $color-default-white;
    text-align: center;
    letter-spacing: 0.6px;
    font-size: 12px;
    font-weight: 700;
    width: 230px;
    line-height: normal;
    padding: 27px;
    text-transform: uppercase;
    grid-column: 2/-1;
    justify-self: flex-end;

    &:hover,
    &:focus {
      color: $color-egyptian-blue;
      background-color:$color-default-white;
    }

    &:active {
      color: $color-sapphire;
    }

    &:disabled {
      opacity: 0.5;
    }
  }
}

.header__main-image {
  margin-right: auto;
}


